.nav {
  display: flex;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.nav:not(:last-child) {
  margin-bottom: 20px;
}

.link {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(171, 171, 243);
  transition: all 0.3s ease;
  text-decoration: none;
}

.link:hover {
  color: #fff;
  background-color: #6e6d6d;
}

.active {
  color: orange;
}

.wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.genre {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.list li {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  padding: 5px;
  border-radius: 10px;
  background-color: #fff;
  transition: all 0.3s ease;
  border: 1px #000 solid;
}

.list li:hover {
  color: #f1ee30;
  background-color: #6e6d6d;
}

.list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

h2,
h3 {
  margin: 0;
}
