.link {
  color: rgb(4, 4, 99);

  padding: 5px;

  transition: all 0.3s ease;
  text-decoration: underline;
}

.link:hover {
  color: #fff;
  background-color: #6e6d6d;
}

.active {
  color: orange;
}
